# Telegram Bot
BOT_TOKEN=
ADMIN_ID=
MARA_CHANNEL_ID=
DASHA_CHANNEL_ID=

# Channels
CHANNEL_ID_PROD=
CHANNEL_ID_TEST=

# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=

#Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
REDIS_STREAM_NAME=
REDIS_GROUP_NAME=
REDIS_CONSUMER_NAME=
REDIS_BLOCK_MS=
REDIS_READ_COUNT=
REDIS_CLAIM_MIN_IDLE=
REDIS_CLAIM_BATCH=
REDIS_MAX_RETRIES=
REDIS_RETRY_BACKOFF_BASE_SEC=
REDIS_DLQ_STREAM=
REDIS_IDEMPOTENCY_TTL_DAYS=

# Prodamus
PRODAMUS_DEMO_SECRET=
PRODAMUS_SECRET=
PRODAMUS_ENDPOINT=
PRODAMUS_VAR_PREFIX=

# Prices
PRICE_BASIC=
PRICE_PREMIUM=

# App Settings
SECRET_HASH=
DEBUG=
WEBHOOK_URL=
SUCCESS_URL=

# Logging
LOG_LEVEL=