# Telegram Bot
BOT_TOKEN=
ADMIN_ID=
MARA_CHANNEL_ID=
DASHA_CHANNEL_ID=
BOT_SELL_MODE=

# Channels
CHANNEL_ID_PROD=
CHANNEL_ID_TEST=


# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=

#Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
REDIS_STREAM_NAME=
REDIS_GROUP_NAME=
REDIS_CONSUMER_NAME=
REDIS_BLOCK_MS=
REDIS_READ_COUNT=
REDIS_CLAIM_MIN_IDLE=
REDIS_CLAIM_BATCH=
REDIS_MAX_RETRIES=
REDIS_RETRY_BACKOFF_BASE_SEC=
REDIS_DLQ_STREAM=
REDIS_IDEMPOTENCY_TTL_DAYS=

# Prodamus
PRODAMUS_DEMO_SECRET=
PRODAMUS_SECRET=
PRODAMUS_ENDPOINT=
PRODAMUS_VAR_PREFIX=

# Prices
PRICE_BASIC=
PRICE_PREMIUM=

# App Settings
SECRET_HASH=
DEBUG=
WEBHOOK_URL=
SUCCESS_URL=

# Logging
LOG_LEVEL=

# Special
SPECIAL_COMMON_PRICE=
SPECIAL_TWELVE_PRICE=
SPECIAL_ALL_PRICE=
SPECIAL_DESCRIPTION_NY=
SPECIAL_DESCRIPTION_FEB=
SPECIAL_DESCRIPTION_12=
SPECIAL_DESCRIPTION_ALL=
SPECIAL_CHANNEL_NY=
SPECIAL_CHANNEL_FEB=
SPECIAL_CHANNEL_12=


#Robokassa
ROBOKASSA_PAYMENT_URL=
ROBOKASSA_MERCHANT_LOGIN=
ROBOKASSA_PASSWORD_1=
ROBOKASSA_PASSWORD_2=
ROBOKASSA_TEST_PASSWORD_1=
ROBOKASSA_TEST_PASSWORD_2=
ROBOKASSA_CREATE_RECEIPT=
ROBOKASSA_IS_TEST=
