# Telegram Bot
BOT_TOKEN=
ADMIN_ID=

# Channels
CHANNEL_ID_PROD=
CHANNEL_ID_TEST=

# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=

# Prodamus
PRODAMUS_API_KEY=
PRODAMUS_SECRET=
PRODAMUS_ENDPOINT=

# Prices
PRICE_BASIC=
PRICE_PREMIUM=

# Promo Code (единый для всех)
PROMO_CODE_MAIN=
PROMO_DISCOUNT_PERCENT=

# App Settings
DEBUG=True
WEBHOOK_URL=
SUCCESS_URL=

# Logging
LOG_LEVEL=INFO